.navbar{
    background-color: #000;
}
.navbar-con{
  display: flex;
  align-items: center;
    width: 100%;
}
.title-text{
    color: #fff;
    font-weight: 600;
}
.navbar-searchbar{
    display: flex;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
}